
/* Variables per als colors de la pagina */
:root {
    --secondary: #ffa545;
    --primary: #c5ff6e;
}

/* Sentencia per fer que els paddings es sumin a la mida dels elements */

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* Reset per REMS - 62.5% = 10 px de 16px. 1rem = 10px */
    box-sizing: border-box;
}

/* Estil general per treure el margin del body que possan els navegadors i per definir la font */

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    margin: 0;
}

/* Estils generals per als titols i el text */

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.4rem;
    margin: 0;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.2rem;
    margin: 0;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8rem;
    margin: 0;
}

p {
    margin: 0;
    line-height: 2;
}

/* Imatges responsives */

img {
    width: 100%;
}

/* Estil general per afegir les "caixes" dels elements */

.box-card {
    -webkit-box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.17);
    box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.17);
    border-radius: 1rem;
}

/* Margues generals de la pagina i mida maxima */

.contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

/* Configuracio de la imatge principal de la web */

.site-header {
    background-image: url(../img/mainImage.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh; /* La imatge principal sempre sera igual de gran que la pantalla del dispositiu */
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.site-header-form {
    background-image: url(../img/form-image.jpg);
    height: 40vh; /* La imatge principal sempre sera igual de gran que la pantalla del dispositiu */
}

.site-header-table {
    background-image: url(../img/table-image.jpg);
    height: 40vh; /* La imatge principal sempre sera igual de gran que la pantalla del dispositiu */
}


/* Barra de navegacio */

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

/* Estils del logo */

.logo {
    color: #ff8400;
    font-size: 4rem;
    transition-duration: 1s; /* Transicio per a quan es deixa de fer hover */
}

.logo:hover {
    color: var(--secondary);
    transition-duration: 1s;/* Transicio per a quan es fa hover */
}

/* Estils del elements de la barra de navegacio */

.navigation-bar {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

/* Estils per als enllaços de la barra de navegacio */

.navigation-bar a {
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

/* Transicio per al elements de la barra de navegacio */

.navigation-bar a:hover {
    color: var(--secondary);
    transition-duration: .8s;
}

/* Posicionament de les xarxes socials */

.navigation-bar .social-media a {
    display: flex;
    margin-right: 2rem;
}

/* Fer que l'utiol element de xarxa social no tingui margues */

.navigation-bar .social-media a:last-of-type {
    margin-right: 0;
}

/* Colors i transicions per a cada xarxa social diferent */

.twitter i:hover {
    transition-duration: .5s;
    color: #00acee;
}

.twitter i {
    transition-duration: .5s;
    color: white;
}

.instagram i:hover {
    transition-duration: .5s;
    color: #cc2366;
}

.instagram i {
    transition-duration: .5s;
    color: white;
}

.youtube i:hover {
    transition-duration: .5s;
    color: #c4302b;
}

.youtube i {
    transition-duration: .5s;
    color: white;
}

/* Estil del missatge de benvinguda */

.welcome h1 {
    color: white;
    font-size: 4.5rem;
    padding-bottom: 15rem;
}

/* Layout del contingut principal de la web (slider i blog) */

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
    margin-top: 3rem;
}

/* Estils per a la caixa del slider */

.slider-box {   
    padding: 1rem 3rem 3rem 3rem;
}

/* Alineacio del text del slider */

.slider-box h1 {
    text-align: center;
}

/* Estils generals del slider que no inclouen el titol */

.slider {
    display: flex;
    height: 80%; /* Fer que el div no ocupi tot l'espai sobrant del slider */
    justify-content: center;
    align-items: center;
}

/* Margues per separar la imatgte del slider del text */

.slider img {
    margin-top: 2rem;
}

/* Margues de separacio per al blog dels seus borders */

.blog {
    margin-top: 0.5rem;
    margin-left: 2rem;
    padding-bottom: 2rem;
}

/* Posicionament dels elements del blog */

.blog-box {    
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Margues per al titol del blog */

.blog-box h1 {   
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Estils per als enllaços del blog */

.blog a {
    text-decoration: none;
    color: black;
}

/* Estils per al texte del blog */

.blog p {
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Margues per al boto de llegir mes */

.read-more {
    text-align: right;
    margin-right: 3rem;
    margin-bottom: 2rem;
}

/* Estils del botons de llegir mes */

.read-more a {
    background-color: #ed831a;
    border-radius: .4rem;
    text-decoration: none;
    color: white;
    padding: .5rem 1.5rem 0.5rem 1.5rem;
}

/* Estils per afegir linea verda despres del titols del blog */

article h3::after {
    content: '';
    display: block;
    width: 15rem;
    height: .3rem;
    background-color: #71B100;
    margin-top: 0.3rem;
}

/* Margues de separacio per a la ciaxa del treballadors */

.workers-box {
    margin-top: 3rem;
}

/* Estils per al titol dels treballadors */

.workers-box h1 {
    padding-top: 2rem;
    text-align: center;
}

/* Posicionament del treballadors */

.workers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    padding: 3rem;
}

/* Justificar texte descriptiu de cada treballador */

.workers div p {
    text-align: justify;
}

/* Margues de separacio per l'apartat del troban's */

.find-us-box {
    margin-top: 2rem;
    padding: 1rem 3rem 3rem 3rem;
    text-align: center;
}

/* Posicionament del troban's */

.find-us {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: minmax(30rem, auto);
    column-gap: 4rem;
}

/* Mides del mapa i estils */

.map iframe {
    border: none;
    height:100%;
    width:100%;
}

/* Estils per la direccio del refugi */

.adress {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Estils i magues del footer */

footer {
    margin-top: 2rem;
    background-color: black;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Posicionament dels elements del footer */

.footer-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

/* Posicionament de les xarxes socials del footer */

.social-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-end;
    text-align: end;
}

/* Estils per als enllaços del footer */

.social-media a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
}

.form-box {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 5rem 2rem 5rem;
}

legend {
    font-size: 2rem;
}

.form-first-gorup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    padding:  2rem 5rem 2rem 5rem;
    margin-bottom: 2rem;
}

.form-first-gorup input {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.form-second-gorup {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    padding:  2rem 5rem 2rem 5rem;
    margin-bottom: 2rem;
}

.form-second-gorup input {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.beauty-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.beauty-form div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.know-us-form {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.know-us-form select {
    font-size: 1.5rem;
    width: 30%;
}

.upgrade-form {
    margin-top: 1rem;
}

.upgrade-form div {
    display: flex;
}

.upgrade-form div label {
    width: 15%;
}

.upgrade-form div input {
    width: 10%;
    height: 10%;
}

.btn-enviar {
    display: flex;
    justify-content: flex-end;
}

.btn-enviar input {
    width: 20%;
    padding: .5rem;
    font-size: 1.6rem;
    background-color: var(--secondary);
    border: none;
    color: white;
    border-radius: .3rem;
}
.table-box {
    margin: 3rem;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.table-box p {
    margin-top: 1rem;
}

table {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin: 1rem 3rem 3rem 3rem;
    padding: 3rem;
    border-collapse: collapse;
    text-align: center;
}

th {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding: 1rem;
}

td {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding: 1rem;
}

.tr1 {
    background-color: #ECFCB7;
}

.tr2 {
    background-color: #F9FFE6;
}

.table-box {
    overflow-x:auto;
}

.table-title {
    font-size: 3rem;
}
@media (max-width: 860px) {
    .form-first-gorup {
        display: grid;
        grid-template-columns: 1fr;
        padding:  2rem 5rem 2rem 5rem;
        margin-bottom: 2rem;
    }

    .beauty-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    
    .beauty-form div {
        display: felx;
        flex-direction: row;
        align-items: center;

    }
    
    .know-us-form select {
        font-size: 1.5rem;
        width: auto;
    }
    
    .upgrade-form {
        margin-top: 1rem;
    }
    
    .upgrade-form div {
        display: flex;
    }
    
    .upgrade-form div label {
        width: 30%;
        margin-right: 10rem;
    }
    
    .upgrade-form div input {
        width: 10%;
        height: 10%;
    }
    
    .btn-enviar {
        display: flex;
        justify-content: flex-end;
    }
    
    .btn-enviar input {
        width: 100%;
    }
}

@media (max-width: 860px) {
    
    /* Barra de navegacio vertical */

    .bar {
        display: flex;
        flex-direction: column;
    }

    .navigation-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigation-bar a {
        font-size: 3rem;
        margin-top: 1rem;
    }

    .social-media {
        margin-top: 3rem;
        column-gap: 3rem;
    }

    .social-media a {
        font-size: 4.5rem;
    }
}

/* Estils de mobil pel contingut principal de la pagina */

@media (max-width: 860px) {
    .main-content {
        display: grid;
        grid-template-columns: auto;
    }
}

@media (max-width: 860px) {
    
    /* Treure margues del blog al mobil */

    .blog-box {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }

    /* Fer els botons de "llegir mes" mes grans al mobil */

    .read-more a {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 1rem;
        height: 3rem;
    }
}

@media (max-width: 860px) {   
    
    /* Posicionament vertical de cada treballador i margues per al mobil */
    
    .workers-box {
        margin-top: 1.5rem;
    }

    .workers {
        display: grid;
        grid-template-columns: auto;
    }

    .workers div {
        margin-bottom: 4rem;
    }

    .workers div p {
        margin-top: 3rem;
    }
}

@media (max-width: 860px) {
    
    /* Posicionament vertical per l'adresa i el mapa */

    .find-us-box {
        margin-top: 1.5rem;
    }
    
    .find-us {
        display: flex;
        flex-direction: column;
    }

    .find-us .adress {
        margin-top: 2rem;
    }
}

@media (max-width: 860px) {
    
    footer {
        display: grid;
        grid-template-columns: auto;
    }

    .footer-info .social-media a {
        font-size: 3rem;
    }
}
